@charset "ISO-8859-1";

body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	background-color: #c5e0b4
}

#header{
	background-image: url(../images/titulo1px.png);
	width: 100%;
	height:120px;
}

#header table{
	height: 150px;
	padding-left: 10px;
}

.BarraFiltro{
	background-color: #e2f0d9;
}

.right {
	text-align: right;
}

.menu{
	
}

.menu .menuPainel{
	display: inline-block;
	border: 1px solid silver;
	padding: 20px;
	margin: 20px;
}

.menu .menuPainel .menuNome{
	
}